/* stylesheet for Menu page to help better organize code */

.menu h2 {
	text-align: left;
}

table {
	width: 80%;
	justify-content: center;
	border-collapse: collapse;
	margin-left: 20px;
	margin-right: 20px;
}

thead th {
	text-align: left;
	font-size: 24px;
	border-bottom: 2px solid #333;
	padding-top: 20px;
	padding-bottom: 10px;
}

tbody td {
	padding: 10px;
	vertical-align: top;
}

.dish-row {
	margin-bottom: 20px;
}

.dish-name {
	font-size: 18px;
	font-weight: bold;
}

.dish-description {
	font-size: 16px;
	color: #666;
	margin-top: 5px;
}

.sub-description {
	margin-top: 5px;
	font-size: 14px;
	color: #666;
	padding-left: 15px;
	list-style-type: disc;
}

tbody tr {
	border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
	background-color: #e0e0e0;
}

tbody tr td {
	border: none;
}

.price {
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
}
