/* stylesheet for Menu page to help better organize code */

.menu-box {
	width: 90%;
	max-width: 1000px;
	padding: 20px;
	margin: 30px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.menu h2 {
	text-align: center;
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}

thead th {
	text-align: left;
	font-size: 24px;
	border-bottom: 2px solid #333;
	padding-top: 20px;
	padding-bottom: 10px;
}

tfoot th {
	border-top: 2px solid #333;
	padding-top: 10px;
}

tbody tr {
	border-bottom: 1px solid #ddd;
}

tbody tr td {
	border: none;
}

.dish-row td {
	padding: 10px;
	vertical-align: top;
}

.dish-name {
	font-weight: bold;
	font-size: 18px;
}

.dish-description {
	font-style: normal;
	font-size: 15px;
	color: #666;
	margin-top: 5px;
}

.price {
	text-align: right;
	font-weight: bold;
}

.sub-description {
	list-style-type: none;
	padding-left: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.sub-description li {
	font-style: italic;
	color: #333;
	font-size: 14px;
}

tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
	background-color: #e0e0e0;
}
