.barrio-title {
	font-family: 'Barrio', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(3, 11, 12, 0.5);
	color: rgb(255, 220, 88);
}

.nunito-main {
	font-family: 'Nunito', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: all 0.3s ease;
}

header.shrink {
	height: 100px; /* Adjust the height as needed */
	font-size: 1cqb; /* Adjust the font size as needed */
}

main {
	font-family: 'Nunito', serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
	max-width: 80em;
	width: 90%;
	margin: auto;
}

p {
	text-align: justify;
	/* padding: 5px; */
	font-size: 18px;
}

.hero-banner {
	margin-top: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

nav {
	font-family: Arial Narrow, serif;
	text-decoration: none;
	text-shadow: 3px 3px 3px rgba(1, 5, 6, 0.7);
	background-color: rgb(14, 193, 213);
	position: sticky;
	display: block;
	z-index: 1000; /* Ensure it stays on the same layer as the header */
	margin-top: 15px; /* Add a small amount of white space between header and nav */
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0%;
	overflow: hidden;
	background-color: rgb(14, 193, 213);
	border: 1px solid rgb(2, 21, 26);
}

nav li {
	float: left;
	margin-inline: 5px;
}

nav li a {
	font-family: 'Trebuchet MS', sans-serif;
	display: block;
	color: white;
	text-shadow: rgb(100, 100, 100) 1px 1px;
	text-align: left;
	font-weight: bolder;
	padding: 14px 16px;
	/* text-decoration: none; */
}

nav li a:hover {
	background-color: rgb(110, 210, 221);
}

.active {
	background-color: rgb(110, 210, 221);
}

footer {
	font-family: 'Nunito', serif;
	font-size: 6px;
	position: relative;
	text-align: left;
	top: 20;
	left: 0;
	bottom: 0;
	padding: 2px;
	width: 90%;
	margin: auto;
}
.intro {
	text-align: justify;
	width: 90%;
	border: 8px solid rgb(14, 193, 213);
	padding: 20px;
	margin: auto;
	margin-top: 20px;
	align-items: center;
	/* border-radius: 10px; */
}

.loc-header {
	font-family: Tahoma, sans-serif;
	font-size: medium;
	text-shadow: 2px 2px 2px rgba(27, 128, 139, 0.5);
	margin-top: 40px;
}

.loc-address {
	margin: 0;
	padding: 0%;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 25px;
	font-size: large;
	text-shadow: 2px 2px 2px rgba(85, 86, 86, 0.5);
	margin-top: 20px;
}

.loc-hours ul {
	list-style-type: none;
	margin-left: 5px;
	padding: 0%;
	overflow: hidden;
	font-size: large;
	text-shadow: 2px 2px 2px rgba(85, 86, 86, 0.5);
	margin-top: 20px;
}
