body {
	font-family: 'Inter', serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: 16px;
}

nav {
	position: sticky;
	top: 50px; 
	display: block;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0%;
	overflow: hidden;
	background-color: rgb(89, 225, 240);
	/* position: -webkit-sticky; Safari */
	border: 1px solid black;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-shadow: rgb(100, 100, 100) 1px 1px;
	text-align: left;
	font-weight: bold;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: rgba(14, 193, 213);
}

.active {
	background-color: rgb(14, 193, 213);
}

footer {
	font-family: 'arial', sans-serif;
	font-size: 12px;
	position: relative;
	text-align: left;
	left: 0;
	bottom: 0;
	padding: 2px;
}
